**required libraries** -> pandas, openpyxl
- run this command in the terminal
    ```
    pip install pandas openpyxl --upgrade
    ```

Pandas Concepts to be covered:
- Loading Data into Pandas
- Series and DataFrames
- Viewing Data
    - head()
    - tail()
    - sample()
- Selection 
    - single column
    - multiple columns
    - Row Selection by Label
        - loc
    - Row Selection by Position
        - iloc
- Data Manipulation
    - Adding Columns
    - Removing Columns
    - Renaming Columns
    - Replacing Values
    - Applying Functions
- Data Cleaning
    - Handling Missing Data
    - Handling Duplicates
    - Handling Outliers
    - Handling Incorrect Data Types
    - Handling Inconsistent Data Entry
- Grouping and Aggregating
    - Grouping
    - Aggregating
    - Applying Functions
- Sorting
    - Sorting by Index
    - Sorting by Values
- Data Visualization
    - Matplotlib
    - Seaborn
    - plotly

In [93]:
import pandas as pd
import numpy as np

In [94]:
pd.set_option('display.max_columns', None)

In [95]:
file = 'Canada.xlsx'
canada = pd.read_excel(file, sheet_name=1, skiprows=20, skipfooter=2)

In [96]:
canada['AreaName'] # series - only 1 column (1 Dimensional)

0         Asia
1       Europe
2       Africa
3      Oceania
4       Europe
        ...
190       Asia
191     Africa
192       Asia
193     Africa
194     Africa
Name: AreaName, Length: 195, dtype: object

In [97]:
canada # data frame - 2D data structure

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Immigrants,Foreigners,Afghanistan,935,Asia,5501,Southern Asia,902,Developing regions,16,39,39,47,71,340,496,741,828,1076,1028,1378,1170,713,858,1537,2212,2555,1999,2395,3326,4067,3697,3479,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Immigrants,Foreigners,Albania,908,Europe,925,Southern Europe,901,Developed regions,1,0,0,0,0,0,1,2,2,3,3,21,56,96,71,63,113,307,574,1264,1816,1602,1021,853,1450,1223,856,702,560,716,561,539,620,603
2,Immigrants,Foreigners,Algeria,903,Africa,912,Northern Africa,902,Developing regions,80,67,71,69,63,44,69,132,242,434,491,872,795,717,595,1106,2054,1842,2292,2389,2867,3418,3406,3072,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
3,Immigrants,Foreigners,American Samoa,909,Oceania,957,Polynesia,902,Developing regions,0,1,0,0,0,0,0,1,0,1,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
4,Immigrants,Foreigners,Andorra,908,Europe,925,Southern Europe,901,Developed regions,0,0,0,0,0,0,2,0,0,0,3,0,1,0,0,0,0,0,2,0,0,1,0,2,0,0,1,1,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Immigrants,Foreigners,Viet Nam,935,Asia,920,South-Eastern Asia,902,Developing regions,1191,1829,2162,3404,7583,5907,2741,1406,1411,3004,3801,5870,5416,6547,5105,3723,2462,1752,1631,1419,1803,2117,2291,1713,1816,1852,3153,2574,1784,2171,1942,1723,1731,2112
191,Immigrants,Foreigners,Western Sahara,903,Africa,912,Northern Africa,902,Developing regions,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
192,Immigrants,Foreigners,Yemen,935,Asia,922,Western Asia,902,Developing regions,1,2,1,6,0,18,7,12,7,18,4,18,41,41,39,73,144,121,141,134,122,181,171,113,124,161,140,122,133,128,211,160,174,217
193,Immigrants,Foreigners,Zambia,903,Africa,910,Eastern Africa,902,Developing regions,11,17,11,7,16,9,15,23,44,68,77,69,73,46,51,41,34,72,34,51,39,78,50,46,56,91,77,71,64,60,102,69,46,59
194,Immigrants,Foreigners,Zimbabwe,903,Africa,910,Eastern Africa,902,Developing regions,72,114,102,44,32,29,43,68,99,187,129,94,61,72,78,58,39,44,43,49,98,110,191,669,1450,615,454,663,611,508,494,434,437,407

In [98]:
canada.head() # first 5

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Immigrants,Foreigners,Afghanistan,935,Asia,5501,Southern Asia,902,Developing regions,16,39,39,47,71,340,496,741,828,1076,1028,1378,1170,713,858,1537,2212,2555,1999,2395,3326,4067,3697,3479,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Immigrants,Foreigners,Albania,908,Europe,925,Southern Europe,901,Developed regions,1,0,0,0,0,0,1,2,2,3,3,21,56,96,71,63,113,307,574,1264,1816,1602,1021,853,1450,1223,856,702,560,716,561,539,620,603
2,Immigrants,Foreigners,Algeria,903,Africa,912,Northern Africa,902,Developing regions,80,67,71,69,63,44,69,132,242,434,491,872,795,717,595,1106,2054,1842,2292,2389,2867,3418,3406,3072,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
3,Immigrants,Foreigners,American Samoa,909,Oceania,957,Polynesia,902,Developing regions,0,1,0,0,0,0,0,1,0,1,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
4,Immigrants,Foreigners,Andorra,908,Europe,925,Southern Europe,901,Developed regions,0,0,0,0,0,0,2,0,0,0,3,0,1,0,0,0,0,0,2,0,0,1,0,2,0,0,1,1,0,0,0,0,1,1

In [99]:
canada.head(2) # first 2

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Immigrants,Foreigners,Afghanistan,935,Asia,5501,Southern Asia,902,Developing regions,16,39,39,47,71,340,496,741,828,1076,1028,1378,1170,713,858,1537,2212,2555,1999,2395,3326,4067,3697,3479,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Immigrants,Foreigners,Albania,908,Europe,925,Southern Europe,901,Developed regions,1,0,0,0,0,0,1,2,2,3,3,21,56,96,71,63,113,307,574,1264,1816,1602,1021,853,1450,1223,856,702,560,716,561,539,620,603

In [100]:
canada.tail()

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
190,Immigrants,Foreigners,Viet Nam,935,Asia,920,South-Eastern Asia,902,Developing regions,1191,1829,2162,3404,7583,5907,2741,1406,1411,3004,3801,5870,5416,6547,5105,3723,2462,1752,1631,1419,1803,2117,2291,1713,1816,1852,3153,2574,1784,2171,1942,1723,1731,2112
191,Immigrants,Foreigners,Western Sahara,903,Africa,912,Northern Africa,902,Developing regions,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
192,Immigrants,Foreigners,Yemen,935,Asia,922,Western Asia,902,Developing regions,1,2,1,6,0,18,7,12,7,18,4,18,41,41,39,73,144,121,141,134,122,181,171,113,124,161,140,122,133,128,211,160,174,217
193,Immigrants,Foreigners,Zambia,903,Africa,910,Eastern Africa,902,Developing regions,11,17,11,7,16,9,15,23,44,68,77,69,73,46,51,41,34,72,34,51,39,78,50,46,56,91,77,71,64,60,102,69,46,59
194,Immigrants,Foreigners,Zimbabwe,903,Africa,910,Eastern Africa,902,Developing regions,72,114,102,44,32,29,43,68,99,187,129,94,61,72,78,58,39,44,43,49,98,110,191,669,1450,615,454,663,611,508,494,434,437,407

In [101]:
canada.sample(5) # random sample of 5 rows

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
157,Immigrants,Foreigners,Slovakia,908,Europe,923,Eastern Europe,901,Developed regions,0,0,0,0,0,0,0,0,0,0,0,1,0,113,103,143,232,236,289,500,460,585,615,501,597,369,241,215,125,128,135,134,136,105
54,Immigrants,Foreigners,Ecuador,904,Latin America and the Caribbean,931,South America,902,Developing regions,238,207,184,155,179,208,240,344,265,278,552,643,644,547,431,368,310,317,295,291,342,353,418,361,417,491,525,419,437,373,353,348,282,418
31,Immigrants,Foreigners,Cameroon,903,Africa,911,Middle Africa,902,Developing regions,9,2,16,7,8,13,11,18,20,38,34,66,71,78,67,122,178,104,197,220,244,206,222,301,436,604,697,1025,1279,1344,1800,1638,2507,2439
88,Immigrants,Foreigners,Jordan,935,Asia,922,Western Asia,902,Developing regions,177,160,155,113,102,179,181,392,489,785,841,807,909,1141,1173,1006,1070,1317,999,1218,1511,1904,1499,1614,1733,1940,1827,1421,1581,1235,1831,1635,1206,1255
52,Immigrants,Foreigners,Dominica,904,Latin America and the Caribbean,915,Caribbean,902,Developing regions,104,81,94,65,81,79,50,89,75,96,77,127,125,106,57,77,66,68,56,67,72,82,62,65,50,59,72,79,60,59,43,36,43,48

In [102]:
canada[5:10] # slice of dataset

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
5,Immigrants,Foreigners,Angola,903,Africa,911,Middle Africa,902,Developing regions,1,3,6,6,4,3,5,5,11,6,8,23,26,22,8,26,38,27,58,49,70,169,168,165,268,295,184,106,76,62,61,39,70,45
6,Immigrants,Foreigners,Antigua and Barbuda,904,Latin America and the Caribbean,915,Caribbean,902,Developing regions,0,0,0,0,42,52,51,61,34,51,31,59,61,44,18,23,21,27,19,12,13,25,17,25,14,24,32,15,32,38,27,37,51,25
7,Immigrants,Foreigners,Argentina,904,Latin America and the Caribbean,931,South America,902,Developing regions,368,426,626,241,237,196,213,519,374,538,678,763,1023,1022,366,380,396,391,349,318,427,635,865,1745,1591,1153,847,620,540,467,459,278,263,282
8,Immigrants,Foreigners,Armenia,935,Asia,922,Western Asia,902,Developing regions,0,0,0,0,0,0,0,0,0,0,0,0,22,21,66,75,102,115,89,112,124,87,132,153,147,224,218,198,205,267,252,236,258,207
9,Immigrants,Foreigners,Australia,909,Oceania,927,Australia and New Zealand,901,Developed regions,702,639,484,317,317,319,356,467,410,553,620,640,734,886,702,668,699,623,479,523,599,799,747,876,930,909,875,1033,1018,1018,933,851,982,1121

In [103]:
canada['RegName'] # dict-like access to a Series

0           Southern Asia
1         Southern Europe
2         Northern Africa
3               Polynesia
4         Southern Europe
              ...
190    South-Eastern Asia
191       Northern Africa
192          Western Asia
193        Eastern Africa
194        Eastern Africa
Name: RegName, Length: 195, dtype: object

In [104]:
canada.RegName # object style access

0           Southern Asia
1         Southern Europe
2         Northern Africa
3               Polynesia
4         Southern Europe
              ...
190    South-Eastern Asia
191       Northern Africa
192          Western Asia
193        Eastern Africa
194        Eastern Africa
Name: RegName, Length: 195, dtype: object

In [105]:
cols = list(range(1980, 1991))
canada[cols]

     1980  1981  1982  1983  1984  1985  1986  1987  1988  1989  1990
0      16    39    39    47    71   340   496   741   828  1076  1028
1       1     0     0     0     0     0     1     2     2     3     3
2      80    67    71    69    63    44    69   132   242   434   491
3       0     1     0     0     0     0     0     1     0     1     2
4       0     0     0     0     0     0     2     0     0     0     3
..    ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
190  1191  1829  2162  3404  7583  5907  2741  1406  1411  3004  3801
191     0     0     0     0     0     0     0     0     0     0     0
192     1     2     1     6     0    18     7    12     7    18     4
193    11    17    11     7    16     9    15    23    44    68    77
194    72   114   102    44    32    29    43    68    99   187   129

[195 rows x 11 columns]

In [106]:
cols = ['AreaName','RegName',2013]
canada[cols]

    AreaName             RegName  2013
0       Asia       Southern Asia  2004
1     Europe     Southern Europe   603
2     Africa     Northern Africa  4331
3    Oceania           Polynesia     0
4     Europe     Southern Europe     1
..       ...                 ...   ...
190     Asia  South-Eastern Asia  2112
191   Africa     Northern Africa     0
192     Asia        Western Asia   217
193   Africa      Eastern Africa    59
194   Africa      Eastern Africa   407

[195 rows x 3 columns]

In [107]:
canada[['AreaName','RegName',2013]]

    AreaName             RegName  2013
0       Asia       Southern Asia  2004
1     Europe     Southern Europe   603
2     Africa     Northern Africa  4331
3    Oceania           Polynesia     0
4     Europe     Southern Europe     1
..       ...                 ...   ...
190     Asia  South-Eastern Asia  2112
191   Africa     Northern Africa     0
192     Asia        Western Asia   217
193   Africa      Eastern Africa    59
194   Africa      Eastern Africa   407

[195 rows x 3 columns]

In [108]:
canada.set_index('OdName', inplace=True)

In [109]:
canada

,Type,Coverage,AREA,AreaName,REG,RegName,DEV,DevName,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
OdName,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Afghanistan,Immigrants,Foreigners,935,Asia,5501,Southern Asia,902,Developing regions,16,39,39,47,71,340,496,741,828,1076,1028,1378,1170,713,858,1537,2212,2555,1999,2395,3326,4067,3697,3479,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
Albania,Immigrants,Foreigners,908,Europe,925,Southern Europe,901,Developed regions,1,0,0,0,0,0,1,2,2,3,3,21,56,96,71,63,113,307,574,1264,1816,1602,1021,853,1450,1223,856,702,560,716,561,539,620,603
Algeria,Immigrants,Foreigners,903,Africa,912,Northern Africa,902,Developing regions,80,67,71,69,63,44,69,132,242,434,491,872,795,717,595,1106,2054,1842,2292,2389,2867,3418,3406,3072,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
American Samoa,Immigrants,Foreigners,909,Oceania,957,Polynesia,902,Developing regions,0,1,0,0,0,0,0,1,0,1,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
Andorra,Immigrants,Foreigners,908,Europe,925,Southern Europe,901,Developed regions,0,0,0,0,0,0,2,0,0,0,3,0,1,0,0,0,0,0,2,0,0,1,0,2,0,0,1,1,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Viet Nam,Immigrants,Foreigners,935,Asia,920,South-Eastern Asia,902,Developing regions,1191,1829,2162,3404,7583,5907,2741,1406,1411,3004,3801,5870,5416,6547,5105,3723,2462,1752,1631,1419,1803,2117,2291,1713,1816,1852,3153,2574,1784,2171,1942,1723,1731,2112
Western Sahara,Immigrants,Foreigners,903,Africa,912,Northern Africa,902,Developing regions,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
Yemen,Immigrants,Foreigners,935,Asia,922,Western Asia,902,Developing regions,1,2,1,6,0,18,7,12,7,18,4,18,41,41,39,73,144,121,141,134,122,181,171,113,124,161,140,122,133,128,211,160,174,217
Zambia,Immigrants,Foreigners,903,Africa,910,Eastern Africa,902,Developing regions,11,17,11,7,16,9,15,23,44,68,77,69,73,46,51,41,34,72,34,51,39,78,50,46,56,91,77,71,64,60,102,69,46,59
Zimbabwe,Immigrants,Foreigners,903,Africa,910,Eastern Africa,902,Developing regions,72,114,102,44,32,29,43,68,99,187,129,94,61,72,78,58,39,44,43,49,98,110,191,669,1450,615,454,663,611,508,494,434,437,407

In [110]:
canada.iloc[0] # row index 0

Type                Immigrants
Coverage            Foreigners
AREA                       935
AreaName                  Asia
REG                       5501
RegName          Southern Asia
DEV                        902
DevName     Developing regions
1980                        16
1981                        39
1982                        39
1983                        47
1984                        71
1985                       340
1986                       496
1987                       741
1988                       828
1989                      1076
1990                      1028
1991                      1378
1992                      1170
1993                       713
1994                       858
1995                      1537
1996                      2212
1997                      2555
1998                      1999
1999                      2395
2000                      3326
2001                      4067
2002                      3697
2003                      3479
2004                      2978
2005                      3436
2006                      3009
2007                      2652
2008                      2111
2009                      1746
2010                      1758
2011                      2203
2012                      2635
2013                      2004
Name: Afghanistan, dtype: object

In [111]:
canada.iloc[100]

Type               Immigrants
Coverage           Foreigners
AREA                      908
AreaName               Europe
REG                       926
RegName        Western Europe
DEV                       901
DevName     Developed regions
1980                        1
1981                        4
1982                        2
1983                        0
1984                        0
1985                        3
1986                        0
1987                        1
1988                        1
1989                        1
1990                        0
1991                        1
1992                        2
1993                        3
1994                        1
1995                        0
1996                        7
1997                        2
1998                        0
1999                        2
2000                        0
2001                        2
2002                        0
2003                        1
2004                        0
2005                        1
2006                        0
2007                        0
2008                        1
2009                        1
2010                        0
2011                        2
2012                        1
2013                        0
Name: Liechtenstein, dtype: object

In [112]:
canada.iloc[10:20] # 10 -19 rows

,Type,Coverage,AREA,AreaName,REG,RegName,DEV,DevName,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
OdName,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Austria,Immigrants,Foreigners,908,Europe,926,Western Europe,901,Developed regions,234,238,201,117,127,165,196,265,198,227,158,189,131,132,133,153,191,152,190,117,97,134,87,113,118,122,102,98,91,109,124,84,102,90
Azerbaijan,Immigrants,Foreigners,935,Asia,922,Western Asia,902,Developing regions,0,0,0,0,0,0,0,0,0,0,0,0,0,17,18,23,26,38,62,54,77,98,186,167,230,359,236,203,125,165,209,138,161,57
Bahamas,Immigrants,Foreigners,904,Latin America and the Caribbean,915,Caribbean,902,Developing regions,26,23,38,12,21,28,23,18,22,32,18,29,16,20,21,17,30,17,14,13,14,20,17,14,13,14,18,23,30,27,25,40,60,55
Bahrain,Immigrants,Foreigners,935,Asia,922,Western Asia,902,Developing regions,0,2,1,1,1,3,0,2,10,9,6,9,9,11,14,10,17,28,14,27,34,13,17,15,12,12,12,22,9,35,28,21,39,32
Bangladesh,Immigrants,Foreigners,935,Asia,5501,Southern Asia,902,Developing regions,83,84,86,81,98,92,486,503,476,387,611,1115,1655,1280,1361,2042,2824,3378,2202,2064,3119,3831,2944,2137,2660,4171,4014,2897,2939,2104,4721,2694,2640,3789
Barbados,Immigrants,Foreigners,904,Latin America and the Caribbean,915,Caribbean,902,Developing regions,372,376,299,244,265,285,251,303,265,275,327,373,336,380,179,211,176,153,139,114,122,148,122,74,90,111,97,130,134,125,121,97,132,97
Belarus,Immigrants,Foreigners,908,Europe,923,Eastern Europe,901,Developed regions,0,0,0,0,0,0,0,0,0,0,0,0,12,40,114,118,156,349,540,426,515,430,435,435,543,558,439,568,524,454,438,357,277,247
Belgium,Immigrants,Foreigners,908,Europe,926,Western Europe,901,Developed regions,511,540,519,297,183,181,197,283,333,307,303,216,208,240,201,240,279,227,307,209,369,340,307,320,411,400,302,363,335,358,363,332,402,379
Belize,Immigrants,Foreigners,904,Latin America and the Caribbean,916,Central America,902,Developing regions,16,27,13,21,37,26,25,23,53,33,38,41,27,37,41,43,27,33,20,37,28,24,35,16,25,37,24,28,48,38,39,36,34,53
Benin,Immigrants,Foreigners,903,Africa,914,Western Africa,902,Developing regions,2,5,4,3,4,3,6,4,20,14,13,13,25,25,18,15,29,32,19,37,35,66,71,78,112,95,116,183,205,238,290,284,391,397

In [113]:
canada.iloc[10:16, :10] # 10-15 rows, 0-9 columns

,Type,Coverage,AREA,AreaName,REG,RegName,DEV,DevName,1980,1981
OdName,,,,,,,,,,
Austria,Immigrants,Foreigners,908,Europe,926,Western Europe,901,Developed regions,234,238
Azerbaijan,Immigrants,Foreigners,935,Asia,922,Western Asia,902,Developing regions,0,0
Bahamas,Immigrants,Foreigners,904,Latin America and the Caribbean,915,Caribbean,902,Developing regions,26,23
Bahrain,Immigrants,Foreigners,935,Asia,922,Western Asia,902,Developing regions,0,2
Bangladesh,Immigrants,Foreigners,935,Asia,5501,Southern Asia,902,Developing regions,83,84
Barbados,Immigrants,Foreigners,904,Latin America and the Caribbean,915,Caribbean,902,Developing regions,372,376

In [114]:
canada.loc['Japan'] # row that has the index 'Japan'

Type               Immigrants
Coverage           Foreigners
AREA                      935
AreaName                 Asia
REG                       906
RegName          Eastern Asia
DEV                       901
DevName     Developed regions
1980                      701
1981                      756
1982                      598
1983                      309
1984                      246
1985                      198
1986                      248
1987                      422
1988                      324
1989                      494
1990                      379
1991                      506
1992                      605
1993                      907
1994                      956
1995                      826
1996                      994
1997                      924
1998                      897
1999                     1083
2000                     1010
2001                     1092
2002                      806
2003                      817
2004                      973
2005                     1067
2006                     1212
2007                     1250
2008                     1284
2009                     1194
2010                     1168
2011                     1265
2012                     1214
2013                      982
Name: Japan, dtype: object

In [115]:
canada.loc[['Japan','France']]

,Type,Coverage,AREA,AreaName,REG,RegName,DEV,DevName,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
OdName,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Japan,Immigrants,Foreigners,935,Asia,906,Eastern Asia,901,Developed regions,701,756,598,309,246,198,248,422,324,494,379,506,605,907,956,826,994,924,897,1083,1010,1092,806,817,973,1067,1212,1250,1284,1194,1168,1265,1214,982
France,Immigrants,Foreigners,908,Europe,926,Western Europe,901,Developed regions,1729,2027,2219,1490,1169,1177,1298,1658,2038,2332,2177,2911,3487,3709,2759,3332,2623,2473,3214,3343,3765,3806,3463,3568,4391,4429,4002,4290,4532,5051,4646,4080,6280,5623

In [116]:
canada.loc[['Japan','France'], [1980, 1981, 1982, 1983, 1984, 1985]]

        1980  1981  1982  1983  1984  1985
OdName
Japan    701   756   598   309   246   198
France  1729  2027  2219  1490  1169  1177

In [117]:
vs = canada.loc[['Japan','France','India'], [1980, 1981, 1982, 1983, 1984, 1985]]

adding a total column

In [118]:
# adding a total column
years = list(range(1980, 2014))
canada[years].sum(axis=1)

OdName
Afghanistan       58639
Albania           15699
Algeria           69439
American Samoa        6
Andorra              15
                  ...
Viet Nam          97146
Western Sahara        2
Yemen              2985
Zambia             1677
Zimbabwe           8598
Length: 195, dtype: int64

In [119]:

canada['Total'] = canada[years].sum(axis=1) # axis=1 means sum across columns (horizontally)
canada.head()

,Type,Coverage,AREA,AreaName,REG,RegName,DEV,DevName,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
OdName,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Afghanistan,Immigrants,Foreigners,935,Asia,5501,Southern Asia,902,Developing regions,16,39,39,47,71,340,496,741,828,1076,1028,1378,1170,713,858,1537,2212,2555,1999,2395,3326,4067,3697,3479,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004,58639
Albania,Immigrants,Foreigners,908,Europe,925,Southern Europe,901,Developed regions,1,0,0,0,0,0,1,2,2,3,3,21,56,96,71,63,113,307,574,1264,1816,1602,1021,853,1450,1223,856,702,560,716,561,539,620,603,15699
Algeria,Immigrants,Foreigners,903,Africa,912,Northern Africa,902,Developing regions,80,67,71,69,63,44,69,132,242,434,491,872,795,717,595,1106,2054,1842,2292,2389,2867,3418,3406,3072,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331,69439
American Samoa,Immigrants,Foreigners,909,Oceania,957,Polynesia,902,Developing regions,0,1,0,0,0,0,0,1,0,1,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,6
Andorra,Immigrants,Foreigners,908,Europe,925,Southern Europe,901,Developed regions,0,0,0,0,0,0,2,0,0,0,3,0,1,0,0,0,0,0,2,0,0,1,0,2,0,0,1,1,0,0,0,0,1,1,15

In [120]:
canada['Faltu'] = 20
canada.head(3)

,Type,Coverage,AREA,AreaName,REG,RegName,DEV,DevName,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total,Faltu
OdName,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Afghanistan,Immigrants,Foreigners,935,Asia,5501,Southern Asia,902,Developing regions,16,39,39,47,71,340,496,741,828,1076,1028,1378,1170,713,858,1537,2212,2555,1999,2395,3326,4067,3697,3479,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004,58639,20
Albania,Immigrants,Foreigners,908,Europe,925,Southern Europe,901,Developed regions,1,0,0,0,0,0,1,2,2,3,3,21,56,96,71,63,113,307,574,1264,1816,1602,1021,853,1450,1223,856,702,560,716,561,539,620,603,15699,20
Algeria,Immigrants,Foreigners,903,Africa,912,Northern Africa,902,Developing regions,80,67,71,69,63,44,69,132,242,434,491,872,795,717,595,1106,2054,1842,2292,2389,2867,3418,3406,3072,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331,69439,20

removing a column

In [121]:
canada.drop(columns='Faltu',inplace=True)
canada.head(2)

,Type,Coverage,AREA,AreaName,REG,RegName,DEV,DevName,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
OdName,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Afghanistan,Immigrants,Foreigners,935,Asia,5501,Southern Asia,902,Developing regions,16,39,39,47,71,340,496,741,828,1076,1028,1378,1170,713,858,1537,2212,2555,1999,2395,3326,4067,3697,3479,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004,58639
Albania,Immigrants,Foreigners,908,Europe,925,Southern Europe,901,Developed regions,1,0,0,0,0,0,1,2,2,3,3,21,56,96,71,63,113,307,574,1264,1816,1602,1021,853,1450,1223,856,702,560,716,561,539,620,603,15699

removing multiple columns

In [122]:
cols_to_drop = ['Type','Coverage','AREA','REG','DEV']
canada.drop(columns=cols_to_drop, inplace=True)
canada.head(2)

,AreaName,RegName,DevName,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
OdName,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,496,741,828,1076,1028,1378,1170,713,858,1537,2212,2555,1999,2395,3326,4067,3697,3479,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004,58639
Albania,Europe,Southern Europe,Developed regions,1,0,0,0,0,0,1,2,2,3,3,21,56,96,71,63,113,307,574,1264,1816,1602,1021,853,1450,1223,856,702,560,716,561,539,620,603,15699

renaming columns

In [123]:
canada.rename(mapper={
    'AreaName': 'Continent',
    'RegName': 'Region',
    'DevName': 'Status'
}, axis=1, inplace=True)
canada.head(2)

,Continent,Region,Status,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
OdName,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,496,741,828,1076,1028,1378,1170,713,858,1537,2212,2555,1999,2395,3326,4067,3697,3479,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004,58639
Albania,Europe,Southern Europe,Developed regions,1,0,0,0,0,0,1,2,2,3,3,21,56,96,71,63,113,307,574,1264,1816,1602,1021,853,1450,1223,856,702,560,716,561,539,620,603,15699

replacing data

In [128]:
canada.replace('Developing regions', 0, inplace=True)
canada.replace('Developed regions', 1, inplace=True)
canada.head()

,Continent,Region,Status,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
OdName,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Afghanistan,Asia,Southern Asia,0,16,39,39,47,71,340,496,741,828,1076,1028,1378,1170,713,858,1537,2212,2555,1999,2395,3326,4067,3697,3479,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004,58639
Albania,Europe,Southern Europe,1,1,0,0,0,0,0,1,2,2,3,3,21,56,96,71,63,113,307,574,1264,1816,1602,1021,853,1450,1223,856,702,560,716,561,539,620,603,15699
Algeria,Africa,Northern Africa,0,80,67,71,69,63,44,69,132,242,434,491,872,795,717,595,1106,2054,1842,2292,2389,2867,3418,3406,3072,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331,69439
American Samoa,Oceania,Polynesia,0,0,1,0,0,0,0,0,1,0,1,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,6
Andorra,Europe,Southern Europe,1,0,0,0,0,0,0,2,0,0,0,3,0,1,0,0,0,0,0,2,0,0,1,0,2,0,0,1,1,0,0,0,0,1,1,15

applying lambda operation on column

In [136]:
canada['Total'].apply(lambda x: x > 50000).value_counts()

Total
False    163
True      32
Name: count, dtype: int64

applying a function operation to a dataframe column

In [146]:
import seaborn as sns

penguins = sns.load_dataset("penguins")

In [166]:
pd.cut(penguins['body_mass_g'], 3).unique()

[(2696.4, 3900.0], NaN, (3900.0, 5100.0], (5100.0, 6300.0]]
Categories (3, interval[float64, right]): [(2696.4, 3900.0] < (3900.0, 5100.0] < (5100.0, 6300.0]]

In [167]:
def categorize_by_weight(value):
    if value == np.nan:
        return np.nan
    elif  value <= 3900 :
        return 'Light weight'
    elif value > 3900 and value <= 5100:
        return 'Medium weight'
    elif value > 5100:
        return 'Heavy weight'

# categorize_by_weight(4000)
penguins['category'] = penguins['body_mass_g'].apply(categorize_by_weight)
penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,category
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male,Light weight
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female,Light weight
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female,Light weight
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,None
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female,Light weight

- Data Cleaning
    - Handling Missing Data
    - Handling Duplicates
    - Handling Outliers
    - Handling Incorrect Data Types
    - Handling Inconsistent Data Entry
- Grouping and Aggregating
    - Grouping
    - Aggregating
    - Applying Functions
- Sorting
    - Sorting by Index
    - Sorting by Values

In [124]:
import plotly.express as px

In [125]:
df = px.data.carshare()
# box
px.box(df, x="car_hours")